section .cart__container {
    margin: auto;
    width: 80%;
    height: 500px;
}

.disabled {
    display: none;
}

.total__price__container.disabled {
    display: none;
}

h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 900;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
}

a:hover {
    cursor: pointer;
}

.shipping em, #show__discount {
    filter: invert(1);
    margin-right: 15px;
    font-size: 20px;
}

.total__price__container em:hover {
    cursor: pointer;
}

h2 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

section .cart__container a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    margin-top: 20px;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#cart__products {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    list-style: none;
    text-transform: capitalize;
}

.cart__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    align-items: center;
}

#cart__products .item__title span {
    color: #fff;
    display: block;
}

hr {
    border: 1px solid white;
}

.item__image {
    grid-area: 1 / 1 / 3 / 2;
}

.item__title {
    grid-area: 1 / 2 / 3 / 3;
}

.item__quantity {
    grid-area: 1 / 3 / 3 / 4;
}

.item__price {
    grid-area: 1 / 4 / 3 / 5;
}

.item__configure {
    grid-area: 1 / 5 / 3 / 6;
}

.item__quantity a {
    padding: 10px 10px !important;
}

#item__count {
    padding: 10px;
}

.shipping__companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 10px;
    list-style: none;
    color: #fff;
}

.shipping__companies.disabled {
    display: none;
}

.shipping__companies li:hover {
    cursor: pointer;
}

.total__price__container {
    margin-top: 5%;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

.total__price__container span {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
}

.subtotal {
    grid-area: 1 / 1 / 2 / 2;
}

.total__price {
    grid-area: 1 / 2 / 2 / 3;
}

.shipping {
    grid-area: 2 / 1 / 3 / 2;
}

.shipping__price {
    grid-area: 2 / 2 / 3 / 3;
}

.total {
    grid-area: 3 / 1 / 4 / 2;
}

.check__out__total {
    grid-area: 3 / 2 / 4 / 3;
}

.check__out__btn {
    letter-spacing: 3px;
    grid-area: 4 / 2 / 5 / 3;
}

@media (max-width: 845px) {
    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .item__image {
        grid-area: 1 / 1 / 2 / 3;
    }

    .item__title {
        grid-area: 2 / 1 / 3 / 3;
    }

    .item__quantity {
        grid-area: 3 / 1 / 4 / 3;
    }

    .item__price {
        grid-area: 4 / 1 / 5 / 3;
    }

    .item__configure {
        grid-area: 5 / 1 / 6 / 3;
    }
}

.discount__container input {
    border-style: none;
    background: transparent;
    outline: none;
}

.discount__container button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.discount__container .webflow__style__input {
    position: relative;
    display: flex;
    width: 300px;
    float: right;
    flex-direction: row;
    border-radius: 50px;
    padding: 0.5rem 0.5rem 0.5rem;
}

.discount__container .webflow__style__input:after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #ffa600, #57E6E6, #d60a03, #57E6E6, #B294FF, #d6bb03);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}

.discount__container .webflow__style__input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.discount__container .webflow__style__input input::-webkit-input-placeholder {
    color: #7881A1;
}

.discount__container .webflow__style__input button {
    color: #7881A1;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    transition: color 0.25s;
}
.discount__container .webflow-style-input button:hover {
    color: #BFD2FF;
}
