section .cart__container {
    margin: auto;
    width: 80%;
    height: 500px;
}

section .cart__container .cart__empty {
    display: none;
}

h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 900;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
}

h2 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

section .cart__container a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    margin-top: 20px;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#cart__products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    list-style: none;
}

.cart__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    align-items: center;
}

hr {
    border: 1px solid white;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
}

.div2 {
    grid-area: 1 / 2 / 3 / 3;
}

.div3 {
    grid-area: 1 / 3 / 3 / 4;
}

.div4 {
    grid-area: 1 / 4 / 3 / 5;
}

.div5 {
    grid-area: 1 / 5 / 3 / 6;
}

.div3 a {
    padding: 10px 10px !important;
}

#item__count {
    padding: 10px;
}

@media (max-width: 845px) {
    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 3;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 3;
    }
}

