section .cart__container {
    margin: auto;
    width: 80%;
    height: 500px;
}

section .cart__container .cart__empty {
    display: none;
}

h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 900;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
}

h2 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

section .cart__container a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    margin-top: 20px;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

section ul {
    display: grid;
    list-style: none;
    margin: 0 auto;
    text-align: left;
    grid-template-rows: repeat(1, 1fr);
}

section li {
    min-height: 100%;
}

section .product__image {
    height: 40vh;
    float: left;
    margin: 10vh auto;
}

.product_description_container {
    font-size: 0.85em;
    margin-top: 20px;
    float: left;
    max-width: 300px;
    height: 200px;
}