section .cart__container {
    margin: auto;
    width: 80%;
    height: 500px;
}

section .cart__container .cart__empty {
    display: none;
}

h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 900;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
}

h2 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

section .cart__container a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    margin-top: 20px;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#cart__products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    list-style: none;
}

.cart__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    align-items: center;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 2 / 2 / 3 / 4; }
.div7 { grid-area: 2 / 4 / 3 / 6; }

