section .cart__container {
    margin: auto;
    width: 80%;
    height: 500px;
}

.disabled {
    display: none;
}

h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 900;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
}

a:hover {
    cursor: pointer;
}

h2 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

section .cart__container a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    margin-top: 20px;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#cart__products {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    list-style: none;
    text-transform: capitalize;
}

.cart__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    align-items: center;
}


hr {
    border: 1px solid white;
}

.item__image {
    grid-area: 1 / 1 / 3 / 2;
}

.item__title {
    grid-area: 1 / 2 / 3 / 3;
}

.item__quantity {
    grid-area: 1 / 3 / 3 / 4;
}

.item__price {
    grid-area: 1 / 4 / 3 / 5;
}

.item__configure {
    grid-area: 1 / 5 / 3 / 6;
}

.item__quantity a {
    padding: 10px 10px !important;
}

#item__count {
    padding: 10px;
}

.total__price__container {
    margin-top: 5%;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

.total__price__container span {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
}

.subtotal {
    grid-area: 1 / 1 / 2 / 2;
}

.total__price {
    grid-area: 1 / 2 / 2 / 3;
}

.shipping {
    grid-area: 2 / 1 / 3 / 2;
}

.shipping__price {
    grid-area: 2 / 2 / 3 / 3;
}

.total {
    grid-area: 3 / 1 / 4 / 2;
}

.check__out__total {
    grid-area: 3 / 2 / 4 / 3;
}

.check__out__btn {
    letter-spacing: 3px;
    grid-area: 4 / 2 / 5 / 3;
}

@media (max-width: 845px) {
    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .item__image {
        grid-area: 1 / 1 / 2 / 3;
    }

    .item__title {
        grid-area: 2 / 1 / 3 / 3;
    }

    .item__quantity {
        grid-area: 3 / 1 / 4 / 3;
    }

    .item__price {
        grid-area: 4 / 1 / 5 / 3;
    }

    .item__configure {
        grid-area: 5 / 1 / 6 / 3;
    }
}

