@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131313;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


header ul .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
}

header .logo {
    width: 100%;
    position: relative;
    max-width: 35px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header em:after {
    content: attr(value);
    font-size: 15px;
    color: black;
    background: darkgrey;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    left: -6px;
    top: 4px;
    opacity: 0.9;
}


@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
        background-color: red;
    }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        background: #131313;
        z-index: 1;
    }

    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
        justify-content: center;
        text-align: center;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        background-size: 25px;
        background: url("../img/close.png") no-repeat center;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: 30px;
        background: url("../img/menu.png") no-repeat center;
        z-index: 10;
    }
}