@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    align-items: center;
    min-height: 100vh;
    background: #131313;
    text-align: center;
}

.title__container #title {
    border: 2px solid yellow;
    padding: 10px 10px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

#orders, #title {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#orders li {
    border-bottom: 2px solid yellow;
}

.products__holder {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.product__id {
    grid-area: 1 / 1 / 2 / 2;
}

.product__price {
    grid-area: 2 / 1 / 3 / 2;
}

.product__quantity {
    grid-area: 3 / 1 / 4 / 2;
}

.product__color {
    grid-area: 4 / 1 / 5 / 2;
}

.product__size {
    grid-area: 5 / 1 / 6 / 2;
}

.user__contact__holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.name {
    grid-area: 1 / 1 / 2 / 2;
}

.surname {
    grid-area: 2 / 1 / 3 / 2;
}

.address {
    grid-area: 3 / 1 / 4 / 2;
}

.phone {
    grid-area: 4 / 1 / 5 / 2;
}

.city {
    grid-area: 5 / 1 / 6 / 2;
}

.country {
    grid-area: 6 / 1 / 7 / 2;
}
