@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

header ul .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    color: #fff;
}

.select-box {
    display: flex;
    width: 200px;
    flex-direction: column;
}

.select-box #options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background-size: contain;
    background: url("../img/arrow-down.svg") no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 10px;
    transition: all 0.4s;
}

.select-box #options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box #options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box #options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box #options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

header .logo {
    width: 100%;
    position: relative;
    max-width: 35px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}


.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 240px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: wheat;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'ELS';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 170px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}


.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 100%;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10000;
}

.container .card .contentBx .size span:hover {
    background: #9bdc28;
    z-index: 100000;
}

.container.disabled .card {
   border: 3px solid yellow;
}

.container.disabled:hover {
    cursor: default;
}

.container:hover {
    cursor: pointer;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    z-index: 1000;
}

.container .card .contentBx .color span:hover {
    border-radius: 20%;
    z-index: 100000;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    list-style: none;
    text-align: center;
}

.notification {
    background-color: green;
    padding: .25em;
    opacity: 0.7;
    position: absolute;
    top: 70px;
    right: 0;
}

.notification:hover {
    cursor: pointer;
}

.notification.disabled {
    display: none;
}

.notification .notification-content {
    color: #fff;
    opacity: 0.8;
}


@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 10;
    }

    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
        justify-content: center;
        text-align: center;
    }


    .toggle.active {
        position: fixed;
        right: 20px;
        background-size: 25px;
        background: url("../img/close.png") no-repeat center;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: 30px;
        background: url("../img/menu.png") no-repeat center;
        z-index: 11;
    }
}